h3.info-window {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
}

img.info-window {
  z-index: 0;
  position: relative;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

.heading {
   visibility: hidden;
   position: absolute;
   left: 6px;
   top: 140px;
   width: 300px;
   height: 30px;
   background-color: white;
   color: black;
}

.map-box {
   z-index: 0;
   position: absolute;
   left:0;
   top:0;
   width: 700px;
   height: 520px;
   background-color: gray;
   border: 1px solid black;
   margin:0;
   padding:0;
}

.map-legend {
   z-index: 5;
   position: absolute;
   left:0;
   top:0;
   width: 300px;
   height: 100px;
   margin: 0;
   padding: 0;
   border: 0;
}

.map-info {
   z-index: 1;
   visibility: hidden;
   position: absolute;
   overflow: auto;
   left: 6px;
   top: 202px;
   width: 650px;
   height: 340px;
   font-family: Arial, Helvetica, sans-serif;
   color: black;
   background-color: #FFFFFF;
   border: 1px solid black;
   padding: 2px;
}

/* This div used for map selection checkboxes.  Sits on top of the map. */
.map-select {
   visibility: hidden;
   z-index: 3;
   position: absolute;
   left: 580px;
   top: 120px;
   width: 65px;
   height: auto;
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   border: 1px solid black;
   padding: 2px;
   margin-bottom: 3px;
   text-align: left;
   cursor: pointer;
}

.calendar-left {
   visibility: hidden;
   z-index: 2; /* high value as popup calendar will overlap map div */
   position: absolute;
   left: 6px;
   top: 10px;
   width: 650px;
   height: 60px;
   background-color: #FFFFFF;
   cursor: pointer;
}

.calendar-right {
   z-index: 6;  
   position: absolute;
   left: 315px;
   top: 152px;
   width: 300px;
   height: 45px;
   background-color: #FFFFFF;
}

body{
   background: #EDE8E2;
   margin: 0;
   /* padding: 15px 0; */
   font-family: Arial, Helvetica, sans-serif;
   font-size: 75%;
   line-height: 1.6em;
   /* text-align:center; */
}

/* copied from Wordpress to gove same look */
#container {
  width:690px;
  padding: 0 30px 0 30px;
  margin: 0 auto;
  /* border-top: 30px solid white; */
  background-color: white;
}



TABLE{
	font-family: 'Gill Sans', Arial, sans-serif
}


H1{
	font-weight: bold;
	text-align: center;
	margin-left: 0;
	color: #000000;
	font-family: 'Gill Sans', Arial, sans-serif
}

H2{
	font-weight: bold;
	text-align: left;
	margin-left: 0;
	font-size: 18px;
	color: #000000;
	font-family: 'Gill Sans', Arial, sans-serif
}

